<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MOSKIT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserLogin" />
                <binding name="BasicHttpBinding_IFTPConnectService" />
                <binding name="BasicHttpBinding_ISubscriptionService" />
                <binding name="BasicHttpBinding_ITitleAndGameObjectData" maxBufferPoolSize="2147483646"
                    maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IReport" />
                <binding name="BasicHttpBinding_IRecord" />
                <binding name="BasicHttpBinding_IVersionInfoService" maxBufferPoolSize="2147483646"
                    maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IAdministrator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://1.233.212.206:8080/WcfService1/FTPConnectService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPConnectService"
                contract="svcFTPConnectService.IFTPConnectService" name="BasicHttpBinding_IFTPConnectService" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/Record.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecord"
                contract="svcRecord.IRecord" name="BasicHttpBinding_IRecord" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/Report.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReport"
                contract="svcReport.IReport" name="BasicHttpBinding_IReport" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/SubscriptionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionService"
                contract="svcSubscription.ISubscriptionService" name="BasicHttpBinding_ISubscriptionService" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/UserLogin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserLogin"
                contract="svcUserLogin.IUserLogin" name="BasicHttpBinding_IUserLogin" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/TitleAndGameObjectData.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITitleAndGameObjectData"
                contract="svcGameData.ITitleAndGameObjectData" name="BasicHttpBinding_ITitleAndGameObjectData" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/VersionInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVersionInfoService"
                contract="svcVersionInfoService.IVersionInfoService" name="BasicHttpBinding_IVersionInfoService" />
            <endpoint address="http://1.233.212.206:8080/WcfService1/Administrator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministrator"
                contract="Administrator.IAdministrator" name="BasicHttpBinding_IAdministrator" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MOSKIT.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v0.22</value>
            </setting>
        </MOSKIT.Properties.Settings>
    </userSettings>
</configuration>
